<ion-header>
  <ion-navbar color="primary">

    <ion-title>
      <span>Trámites SEDETUS</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showAlert()">
        <ion-icon name="information-circle" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
  <img src="assets/img/header.png"/>
  <ion-card-content>
    <h3>
      Trámite: {{tramite[0].nombre}} pelo
    </h3>
    <p>

     Seguimiento:{{seguimiento.observaciones}}

    </p>
  </ion-card-content>
</ion-card>

  <div *ngIf="questions.length == 0">
    <h3 class="questions-call-out">
      No hay detalles del Seguimiento al momento
    </h3>
  </div>

  <div *ngIf="questions.length > 0">
    <h3 class="questions-call-out">
      <span>Recuperado todos mis comentarios a este Seguimiento del Trámites: </span>
      <ion-badge class="call-out-tag">{{tramite[0].nombre}}</ion-badge>
      <p>pelos</p>
    </h3>

    <ion-list class="questions-list">
      <ion-item class="question-item" *ngFor="let question of questions">
        <ion-row>
          <ion-col class="votes-col" col-2>
            <button class="vote-button up-vote" ion-button clear small (click)= "addPositiveVote(question)">
              <ion-icon name="arrow-up"></ion-icon>
            </button>
            <span class="question-score" [ngClass]="{'good-score': (question.positiveVotes - question.negativeVotes) > 0, 'no-score': (question.positiveVotes - question.negativeVotes) == 0, 'bad-score': (question.positiveVotes - question.negativeVotes) < 0}">{{ question.positiveVotes - question.negativeVotes }}</span>
            <button class="vote-button down-vote" ion-button clear small (click)= "addNegativeVote(question)">
              <ion-icon name="arrow-down"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-10>
            <ion-row class="question-details">
              <ion-col col-12>
                <h2 class="question-text" (click)="openAnswers(question)">{{ question.question }}</h2>
              </ion-col>
              <ion-col col-4 class="votes-details">
                <div class="details-wrapper">
                  <span class="total-votes">{{ question.positiveVotes + question.negativeVotes }}</span>
                  <span class="details-text">Votes</span>
                </div>
              </ion-col>
              <ion-col col-4 class="answers-details" (click)="openAnswers(question)">
                <div class="details-wrapper">
                  <span class="total-answers">{{ question.answers.length }}</span>
                  <span class="details-text">{{ (question.answers.length > 1 || question.answers.length == 0) ? 'Answers' : 'Answer' }}</span>
                </div>
              </ion-col>
              <ion-col col-4 class="actions-details">
                <!--
                  <button class="edit-button" ion-button small round clear icon-only color="dark" (click)="editQuestionModal(question)">
                      <ion-icon name="md-create"></ion-icon>
                    </button>
                <button class="delete-button" ion-button small round clear icon-only color="danger" (click)="delete(question.id)">
                  <ion-icon name="ios-trash-outline"></ion-icon>
                </button>
              -->
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <button ion-button round block (click)="createQuestionModal()" color="light">
      <b>Crear nuevo comentario a este seguimiento?</b>
    </button>
  </ion-toolbar>
</ion-footer>
