<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <span>Trámites SEDETUS</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showAlert()">
        <ion-icon name="information-circle" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/img/header.png"/>
    <ion-card-content>
      <h3>
        Trámite: {{tramite[0].nombre}}<br>
        <ion-badge color="dark" item-end>{{solicitud[0].status}}</ion-badge>
      </h3>
    </ion-card-content>
  </ion-card>

    <div>
    <h3 class="questions-call-out">
      <span>Recuperado todos mis comentarios a este Seguimiento del Trámite: </span>
    </h3>

    <ion-list class="questions-list">
      <ion-item class="question-item" *ngFor="let seguimiento of seguimientos">
        <ion-row>
          <ion-col col-12>
            <ion-row class="question-details">
              <ion-col col-12>

                <!--Activar el método openAnswer para el usuario seguimiento o administrador-->
                <div *ngIf="currentUser[0].id_grupo==2 || currentUser[0].id_grupo==1 else elseBlokCiudadano">
                  <h2 *ngIf="seguimiento.usuario=='CIUDADANO'else elseBlockUsuario1" 
                    class="question-text" (click)="openAnswers(seguimiento)" ><ion-icon name="people"></ion-icon>
                    <span class="ciudadano">{{ seguimiento.usuario }}:<br></span>
                    {{ seguimiento.observaciones }}>
                  </h2>
                  <ng-template #elseBlockUsuario1>
                      <h2 class="question-text" (click)="openAnswers(seguimiento)"><ion-icon name="person"></ion-icon>
                        <span class="usuario">{{ seguimiento.usuario }}:<br> </span>
                        {{ seguimiento.observaciones }}
                      </h2>
                  </ng-template>
                </div>
                
                <!--No se dispara el método openAnswers para el ciudadano-->
                <ng-template #elseBlokCiudadano>
                  <div>  
                    <h2 *ngIf="seguimiento.usuario=='CIUDADANO'else elseBlockUsuario" 
                      class="question-text" ><ion-icon name="people"></ion-icon><span class="ciudadano">{{ seguimiento.usuario }}:<br> </span>
                      {{ seguimiento.observaciones }}
                    </h2>
                    <ng-template #elseBlockUsuario>
                      <h2 class="question-text" ><ion-icon name="person"></ion-icon><span class="usuario">{{ seguimiento.usuario }}:<br> </span>
                        {{ seguimiento.observaciones }}
                      </h2>
                    </ng-template>
                  </div>
                </ng-template>    
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer >
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="icons"  color="light" style="height: 37px;" *ngIf="solicitud[0].status=='TRAMITE' && id_grupo==3">
      <ion-segment-button value="camera" style="min-height: 37px; line-height: 1.2rem !important; padding-left: 0px;padding-right: 0px;  margin-top: 7px; padding-bottom: 5px;"(click)="createQuestionModal()" >
        <ion-icon  name="list-box" ></ion-icon >
          <div style="font-size: 10px !important;">
            Agregar comentario.
          </div>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>

<!--
<ion-footer >
  <div >
    <ion-toolbar color="primary">
      <div *ngIf="solicitud[0].status=='TRAMITE' && id_grupo==3">
      <button ion-button round block (click)="createQuestionModal()" color="light">
        <b>Crear nuevo comentario?</b>
      </button>
    </div>
    </ion-toolbar>
  </div>
  
</ion-footer>-->