learn-feed-page {
	.search-query
	{
		font-size: 1.4rem;
		margin: 12px;
		margin-bottom: 30px;
		color: $theme-color-3;
		text-align: center;

		.query-tag
		{
			border: 1px solid $theme-color-2;
			color: #459cc1;
			background: #FFF;
		}

		.query-explanation
		{
			font-weight: 300;
		}
	}


	.category-concept-card
	{

		border-radius: 15px;
		box-shadow: none;
		margin-bottom: 20px;

		ion-card {
		   position: relative;
		   text-align: center;
		 }


		.category-title
		{
			position: absolute;
		    top: 35%;
			//font-size: 1.5em;
			font-size: .9em;
		    width: 100%;
		    font-weight: bold;
		    color: #459cc1;
		}
		h2,p{
			color:#459cc1;
		}

		.category-item
		{

		    font-size: 0.3em;
		    width: 100%;
		    font-weight: bold;
		    //color:#459cc1;
		    //background: transparent;
		    //opacity: 0.6;
		}
		.bar-custom{
			background-color: #0077ff;
		}

		.category-description
		{
			font-size: 1.0em;
		    position: absolute;
		    top: 49%;
		    width: 100%;
		    font-weight: bold;
		    color: #459cc1;
		}

		.category-tag
		{
			font-size: 1.0em;
		    position: relative;
		    top: 2%;
		    width: 100%;
		    color: #459cc1;

			border: 1px solid #0077ff;
			background: transparent;


			//margin-right: 4px;
			opacity: 0.6;
		}
	}
}
