<ion-header >
  <ion-navbar color="primary" hideBackButton="{{ ocultaBack }}">

    <button [hidden]="muestraToggle" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      <span>Trámites SEDETUS</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showAlert()">
        <ion-icon name="information-circle" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content class="category-concept-card">
  <h3 class="search-query">

    <span>Mostrando: </span>
    <ion-badge class="query-tag">{{ _query }}</ion-badge>
    <span class="query-explanation"> los Seguimientos</span>
  </h3>


  <ion-card [style.background-color]="data.background" *ngFor="let seg of seguimientos"  (click)="openDetails({ solicitud: solicitud,tramite:tramite,seg:seg })">

    <ion-item class="category-item" >
      <ion-avatar item-start>
        <img src="assets/img/user_sedetus.png">
      </ion-avatar>
      <h3 >Usuario de enlace de:</h3>
      <h3 *ngFor="let tram of tramite">
      {{tram.unidadAdministrativa}}</h3>
      <div *ngFor="let soli of solicitud">
        <p >Fecha de Solicitud: {{soli.fecha_ingreso}}</p>
        <p>Estatus: <ion-badge color="dark" item-end>{{seg.estatus}}</ion-badge></p>
      </div>
    </ion-item>
    <img src="assets/img/rsz_fondo_soles_grises.png"/>
    <div   *ngFor="let tram of tramite">
      <h2 class="category-title">Tramite: {{tram.nombre}}</h2>
    </div>
    <div >
       <h3  class="category-description">Seguimiento: {{seg.observaciones}}</h3>
    </div>
    <div>
      <ion-row>
        <ion-col *ngFor="let tram of tramite">
          <ion-badge class="category-tag" item-right>{{ tram.unidadAdministrativa }}</ion-badge>
          <ion-badge class="category-tag" item-right>{{ tram.direccion }}</ion-badge>
          <ion-badge class="category-tag" item-right>Fecha seguimiento: {{ seg.fecha }}</ion-badge>
        </ion-col>
      </ion-row>
      <!--igh
        <ion-toolbar color="primary">
          <button ion-button round block (click)="createQuestionModal()" color="light">
            <b>Nuevo comentario a este seguimiento?</b>
          </button>
        </ion-toolbar>-->
   
    </div>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <!-- <button ion-button round block (click)="createQuestionModal()" color="light">
      <b>Crear nuevo comentario a este seguimiento?</b>
    </button>-->
  </ion-toolbar>
</ion-footer>