<ion-header >
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span>Trámites SEDETUS</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showAlert()">
        <ion-icon name="information-circle" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="category-concept-card">
  <h3 class="search-query">
    <span>Mostrando: </span>
    <ion-badge class="query-tag">{{ _query }}</ion-badge>
    <span class="query-explanation"> los Seguimientos</span>
  </h3>

  <ion-card [style.background-color]="data.background" *ngFor="let tram of tramite"  (click)="openDetails({ category: category })">
    <ion-item class="category-item" *ngFor="let soli of solicitud">
      <ion-avatar item-start>
        <img src="assets/img/user_sedetus.png">
      </ion-avatar>
      <h2>Usuario de enlace de:</h2>
      <h2>{{tram.unidadAdministrativa}}</h2>
      <p >{{soli.fecha_ingreso}}</p>
    </ion-item>
    <img src="assets/img/rsz_fondo_soles_grises.png"/>
    <div >
      <h2 class="category-title">{{ tram.nombre}}</h2>
    </div>
    <div class="category-description" >
       <h2 *ngFor="let seg of seguimientos">{{seg.observaciones}}</h2>
    </div>
    <div>
      <ion-row>
        <ion-col >
          <ion-badge class="category-tag" item-right>{{ tram.unidadAdministrativa }}</ion-badge>
          <ion-badge class="category-tag" item-right>{{ tram.direccion }}</ion-badge>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>
</ion-content>