<ion-header >
  <ion-navbar color="primary">

    <ion-title>
      <span>Detalles del seguimiento</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showAlert()">
        <ion-icon name="information-circle" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/img/header.png"/>
    <ion-card-content>
      <h3>
        Trámite: {{tramite}}<br>
        Seguimiento: {{seguimiento}}<br>
        <ion-badge color="dark" item-end>{{solicitud}}</ion-badge>
      </h3>
    </ion-card-content>
  </ion-card>


    <ion-list inset>
      <ion-item-sliding *ngFor="let seg of seguimientos">
        <ion-item class="answer-item" >

          <p class="answer-text">{{ seg.fecha }}</p>
          <p class="answer-text">{{ seg.usuario }}</p>
          <p class="observacion">{{ seg.observaciones }}</p>
          
          <ion-icon *ngIf="seg.id_usuario==mid_usuario"  name="arrow-back" item-end></ion-icon>
        </ion-item>


        <ion-item-options *ngIf="seg.id_usuario==mid_usuario" side="right">
          <button class="edit-button" ion-button Medium round clear icon-only color="dark" (click)="editAnswerModal(seg.id_seguimiento,seg.observaciones,seg.adjunto)">
            <ion-icon name="md-create"></ion-icon>
          </button>
          <button class="delete-button" ion-button Medium round clear icon-only color="danger" (click)="delete(seg.id_seguimiento,seg.adjunto)">
            <ion-icon name="ios-trash-outline"></ion-icon>

          </button>
        </ion-item-options>

      </ion-item-sliding>

    </ion-list>

</ion-content>

<ion-footer >
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="icons"  color="light" style="height: 37px;">
      <ion-segment-button value="camera" style="min-height: 37px; line-height: 1.2rem !important; padding-left: 0px;padding-right: 0px;  margin-top: 7px; padding-bottom: 5px;"(click)="createAnswerModal()" >
        <ion-icon  name="list-box" ></ion-icon >
          <div style="font-size: 9px !important;">
            Constestar al Ciudadano
          </div>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-footer>
