<ion-header>
  <ion-navbar color="primary">
    <!-- <img  width="120" height="40" style="margin: 1px; padding: 1px;" src="assets/img/header.png" > -->
    <ion-title>
      <span style="font-size: 13px; margin: 1px; padding: 1px;">Trámites SEDETUS</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showAlert()">
        <ion-icon name="information-circle" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/img/header.png"/>
    <ion-card-content>
      <h3 style="text-align: left">

        <strong>Folio #:</strong> {{solicitud[0].id_solicitud}}.
        <strong> Fecha ingreso: </strong>{{solicitud[0].fecha_ingreso}}.<br>
        <strong>Trámite:</strong> {{tramite[0].nombre}}<br>
        <strong>Estatus:</strong><ion-badge color="dark" item-end>{{solicitud[0].status}}</ion-badge>

      </h3>
    </ion-card-content>
  </ion-card>


    <h3 class="questions-call-out">
      Recuperado todos los seguimientos del Trámite:
    </h3>

    <ion-list inset>
      <ion-item-sliding >
        <ion-item class="question-details" *ngFor="let seguimiento of seguimientos">

          <div *ngIf="currentUser[0].id_grupo==2 || currentUser[0].id_grupo==1 else elseBlokCiudadano">
            <h2 *ngIf="seguimiento.usuario=='CIUDADANO'else elseBlockUsuario1"
              class="question-text" (click)="listarParaEdicion(seguimiento.observaciones,tramite[0].nombre,solicitud[0].status)" >
              <span class="ciudadano"><ion-icon name="people" style="font-size: 1.6em"></ion-icon> {{ seguimiento.usuario }}:<br></span>
              <span class="observacion">{{ seguimiento.observaciones }}</span>
            </h2>
            <ng-template #elseBlockUsuario1><!--Si la respuesta es de un usuario no disparar el metodo openAnswer-->
              <h2 class="question-text">
                <!--<h2 class="question-text" (click)="openAnswers(seguimiento)"><ion-icon name="person"></ion-icon>-->
                <span class="usuario"><ion-icon name="person" style="font-size: 1.6em"></ion-icon> {{ seguimiento.usuario }}:<br></span>
                <span class="observacion">{{ seguimiento.observaciones }}</span>
              </h2>
            </ng-template>
          </div>

          <!--No se dispara el método openAnswers para el ciudadano-->
          <ng-template #elseBlokCiudadano>

            <div>
              <p *ngIf="seguimiento.usuario=='CIUDADANO'else elseBlockUsuario"
                class="question-text" >
                <span class="ciudadano"><ion-icon name="people" style="font-size: 1.6em"></ion-icon> {{ seguimiento.usuario }}:<br></span>
               <span class="observacion">{{ seguimiento.observaciones }}</span>
              </p>
            </div>

          </ng-template>

          <ng-template #elseBlockUsuario>
            <div>
              <p class="question-text" >
                <span class="usuario"><ion-icon name="person" style="font-size: 1.6em"></ion-icon> {{ seguimiento.usuario }}: <br></span>
                <span class="observacion">{{ seguimiento.observaciones }}</span>
              </p>
            </div>
          </ng-template>

          <div class="fechahora">{{ seguimiento.fecha }}</div>
          <ion-icon *ngIf="seguimiento.adjunto && currentUser[0].id_grupo==3" style="font-size: 2.5rem; color:#566573;" name="md-attach"  (click)="verAdjuntos(seguimiento,tramite[0].nombre,solicitud)" item-end></ion-icon>
        </ion-item>

        <!-- <ion-item-options *ngIf="seguimiento.adjunto && currentUser[0].id_grupo==3" side="right">
          <button class="edit-button" ion-button Medium round clear icon-only color="dark" (click)="verAdjuntos(seguimiento,tramite[0].nombre,solicitud[0].status)">
            <ion-icon name="md-attach"></ion-icon>
          </button>
        </ion-item-options> -->

      </ion-item-sliding>

    </ion-list>
</ion-content>

<ion-footer >
  <ion-toolbar color="primary">
    <!--<ion-segment [(ngModel)]="icons"  color="light" style="height: 37px;" *ngIf="solicitud[0].status=='TRAMITE' && id_grupo==3">-->
    <ion-segment [(ngModel)]="icons"  color="light" style="height: 37px;" *ngIf="id_grupo==3">
      <ion-segment-button value="camera" style="min-height: 37px; line-height: 1.2rem !important; padding-left: 0px;padding-right: 0px;  margin-top: 7px; padding-bottom: 5px;"(click)="createQuestionModal()" >
        <ion-icon  name="list-box" ></ion-icon >
          <div style="font-size: 10px !important;">
            Agregar comentario.
          </div>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>


